<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha Página Web</title>
  <style>
    body {
      font-family: 'Times New Roman', Times, serif;
      margin: 0;
      padding: 0;
    }
    h1 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
    }

    nav {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
    }

    nav a:hover {
      background-color: #555;
    }
    nav h1{
      color: white;
      text-decoration: none;
      padding: 10px;
    }
    

    .content {
      padding: 20px;
    }
  </style>
</head>
<body>
  <nav>
    <h1>Principal</h1>
    <a href="/">Página Inicial</a>
    <a href="/sobre">Sobre</a>
    <a href="/contato">Contato</a>
  </nav>

  <h1>Sobre</h1>
  
</body>
</html>
